<div class="main-container">
    <div>
        <mat-toolbar class="m-10">
            <mat-card-title>Notepad Application</mat-card-title>
            <span class="spacer"></span>
            <div class="example-button-row">
                <button mat-stroked-button (click)="addNotepad()">Add New Notepad
                    <span class="material-icons">
                        note_add
                    </span>
                </button>
            </div>
        </mat-toolbar>
    </div>
    <mat-list>
        <div mat-subheader>Notes</div>
        <mat-list-item *ngFor="let notePad of notePads">
            <mat-icon mat-list-icon>note</mat-icon>
            <div mat-line>{{notePad.name}}</div>
            <span class="spacer"></span>
            <span class="example-button-row">
                <button mat-stroked-button (click)="viewNotepad(notePad)">View Notepad</button>
            </span>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>