<p>home works!</p>
<div class="main-container">
    <div>
        <mat-toolbar class="m-10">
            <mat-card-title>Notepad Application</mat-card-title>
            <span class="spacer"></span>
            <div class="example-button-row">
                <button mat-stroked-button (click)="addNotepad()">Add New Notepad
                    <span class="material-icons">
                        note_add
                    </span>
                </button>
            </div>
        </mat-toolbar>
    </div>
    <mat-list>
        <div mat-subheader>Notes</div>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <span class="spacer"></span>
            <span class="example-button-row">
                <button mat-stroked-button>View Notepad</button>
            </span>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <span class="spacer"></span>
            <span class="example-button-row">
                <button mat-stroked-button>View Notepad</button>
            </span>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
    </mat-list>
</div>